* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0em;
  padding: 0em;

  text-align: justify;
  font-family: 'Roboto', 'Open Sans', 'DejaVu Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
}

div#top-bar {
  padding: 0em;
  margin: 0;
  background-color: #8ac7db;
  color: white;
  height: 3em;
  width: 100%;
  position: fixed;
  top: 0;
}

p#app-name {
  float: left;
  margin: 0.75em 1em;
  font-weight: 300;
  font-family: "Noto Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-transform: uppercase;
  line-height: 1.5em;
  vertical-align: bottom;
}

p#app-name strong {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: lowercase;
}

p#menu-hamburger {
  font-size: 2em;
  float: right;
  display: inline;
  margin: 0;
  padding: 0 0.5em;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5em;
}

.not-touchscreen p#menu-hamburger:hover {
  background-color: #1e5162;
}

p#menu-hamburger.clicked {
  background: #63b4cf;
}

.not-touchscreen p#menu-hamburger.clicked:hover {
  background: #1e5162;
}

div#menu {
  padding: 0em;
  margin: 0;
  background: #63b4cf;
  position: fixed;
  top: 3em;
  right: 0;
  visibility: hidden;
  width: auto;
}

@media only screen and (max-device-width: 1080px) {
  div#menu { width: 100%; }
}

div#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#menu li a {
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  margin: 0;
  display: block;
  line-height: 1.5em;
  vertical-align: bottom;
  text-align: center;
  cursor: pointer;
}

.not-touchscreen div#menu li a:hover {
  background-color: #1e5162;
}

div#content {
  padding: 0;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 2em;
  max-width: 64em;
}

h1 {
  margin: 0em;
  padding: 0em 1em 1em;
  border-left: solid 1px;
  font-size: 1.5em;
  font-weight: 100;
}

h1.error_title:after {
  content: ":(";
  float: right;
  font-size: 2em;
  margin: -0.2em 0.5em;
}

em {
  font-style: normal;
  font-weight: normal;
}

table {
  margin: 0em;
  padding: 0em;
  width: 100%;
  table-layout: fixed;
}

tr.row:hover {
  background: #ebf6f9;
}

td {
  padding: 0em;
  margin: 1em;
  table-layout: fixed;
  text-align: center;
  vertical-align: baseline;
}

thead {
  font-weight: normal;
}

thead td {
  background-color: #d8edf3;
  padding: 0.5em;
}

tfoot td {
  text-align: right;
}

td p {
  margin: 0.5em 0em;
}

input.answer, input.wrong, input.correct {
  width: 100%;
  border: 0px;
  border-bottom: solid 1px;
  padding: 0.25em;
  box-sizing: border-box;
  margin: 1em 0em 0em;

  color: #1e5162;
  font-size: 1em;
  text-align: center;
  outline: none;
}

input.correct {
  background: #b3ffb3;
}

input.wrong {
  background: #ffb3b3;
}

input.button {
  width: 98%;
  border: 0px;
  background: #1e5162;
  margin: 2em 0em;
  padding: 0.5em;
  box-sizing: border-box;

  color: white;
  font-size: 1em;
}

p.note, p.note-correct, p.note-wrong {
  line-height: revert;
  margin: 0.1em 0em 0em;
  color: #1e5162;
  font-size: 0.9em;
  text-align: center;
}

p.note-correct {
  color: green;
}

p.note-correct:before {
  content: "✓ ";
}

p.note-wrong {
  color: red;
}

p.note-wrong:before {
  content: "✗ ";
}

p.result {
  width: 100% - 2em;
  text-align: center;
  margin: 0em 0em 1em;
  padding: 1em 1em;
  font-size: 2em;
  color: white;
  background-color: #8ac7db;
}

div.flash_card {
  display: table;
  width: 100%;
  margin: 0.2em 0em 0em;
}

div.flash_pair {
  display: table-row;
}

p.language_label {
  padding: 0.5em;
  display: table-cell;
  text-align: center;
  font-weight: 500;
}

p.language_label:after {
  content: " :";
}

p.given_word_label {
  display: table-cell;
  text-align: center;
}

div.result_form {
  margin: 0em 0em 2em;
  width: 100%;
  display: table;
  table-layout: fixed;
  color: white;
  background-color: #8ac7db;
  font-weight: 400;
}

div.result_entry {
  display: table-row;
}

p.result_entry_label {
  display: table-cell;
  padding: 0.75em;
}

p.result_entry_value {
  display: table-cell;
  padding: 0.5em;
}

div.centered-content {
  width: 100%;
  margin: 0em;
  padding: 0em;
  text-align: center;
}

div.progress-bar {
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0;
  text-indent: 1.5em;
  background-color: #ffb3b3;
  overflow: visible;
}

div.progress-bar-done {
  background-color: #b3ffb3;
  padding: 0.5em 0;
}
