{% extends "base.html" %}
{% block title %}Exam for: {{ dict_name }}{% endblock %}
{% block content %}
    <h1 class="no-mobile">Exam</h1>

    {% if points_awarded is defined %}
        <p class="result">Your result is: {{ grade }} ({{ points_awarded }} of {{ max_points }} correct)</p>
    {% endif %}

    <form method="post" autocomplete="off"><table>
        <thead>
            <tr><td>{{ left_title }}</td><td>{{ right_title }}</td></tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr class="row">
                <td>
                {% if entry.left_class is none %}
                    {{ entry.left }}
                {% else %}
                    <input class="{{ entry.left_class }}" type="text" name="answer_{{ entry.pos }}_{{ entry.id }}_left" value="{{ entry.left }}">
                    {% if entry.left_note is not none %}
                        <p class="note-{{ entry.left_class }}">{{ entry.left_note }}</p>
                    {% endif %}
                {% endif %}
                </td>
                <td>
                {% if entry.right_class is none %}
                    {{ entry.right }}
                {% else %}
                    <input class="{{ entry.right_class }}" type="text" name="answer_{{ entry.pos }}_{{ entry.id }}_right" value="{{ entry.right }}">
                    {% if entry.right_note is not none %}
                        <p class="note-{{ entry.right_class }}">{{ entry.right_note }}</p>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr><td colspan="2">
                {% if points_awarded is not defined %}
                    <input class="button" type="submit" value="Check your answers">
                {% else %}
                    <input class="button" type="submit" value="Resubmit your answers">
                {% endif %}
            </td></tr>
        </tbody>
    </table></form>
{% endblock %}
