{% extends "base.html" %}
{% block title %}Flash card for: {{ dict_name }}{% endblock %}
{% block content %}
    <h1 class="no-mobile">Flash card</h1>

    {% if result is defined %}
    <div class="result-form">
        <p class="label">Result:</p>
        <div class="value">
            <div class="progress-bar">
                <div class="progress-bar-done" style="width: {{ result.percentage }}%">{{ result.label }}</div>
            </div>
        </div>
        <div class="button" onclick="postTowards('{{ stats_href }}');">Details</div>
    </div>
    {% endif %}

    <script>
        function postTowards(address) {
            var form = document.getElementById('main-form');
            var previous_action = form.action;
            form.action = address;
            form.submit();
            form.action = previous_action;
        }
    </script>

    <form method="post" autocomplete="off" action="{{ action }}" id="main-form">
        <div class="flash_card">
            <div class="flash_pair">
                <p class="language_label">{{ given_language }}</p>
                <p class="given_word_label">{{ given_word }}</p>
            </div>
            <div class="flash_pair">
                <p class="language_label">{{ answer.language }}</p>

            {% if answer.value is not none %}
                <input class="{{ answer.style }}" type="text" name="answer" value="{{ answer.value }}" readonly>
                <p class="{{ answer.note_style }}">{{ answer.note }}</p>
            {% else %}
                <input type="hidden" name="id" value="{{ id }}">
                <input class="answer" type="text" name="answer" value="" autofocus>
            {% endif %}
            </div>
        </div>

        <div class="centered-content">
            {% if answer.value is not none %}
            <input class="button" type="submit" value="Next" autofocus>
            {% else %}
            <input class="button" type="submit" value="Check your answer">
            {% endif %}
        </div>

        {% if context is defined %}
        <input type="hidden" name="context" value="{{ context }}">
        {% endif %}
    </form>
{% endblock %}
