{% extends "base.html" %}
{% block title %}Dictionary listing for: {{ dict_name }}{% endblock %}
{% block content %}
    <h1 class="no-mobile">Dictionary listing for: <em>{{ dict_name }}</em></h1>

    <table class="listing">
        <thead>
            <tr><td>{{ left_title }}</td><td>{{ right_title }}</td></tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr class="row"><td><p>{{ entry.left }}</p></td><td><p>{{ entry.right }}</p></td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
